<h1>New Client</h1>

<%= form_with(model: @client, url:clients_path(@client.id), local: true) do |form| %>
	<% @form = form %>
	<%= render 'form', locals:{form:@form, client: @client} %>
<% end %>	

<%= link_to 'Back', clients_path %>
