- content_for :header do
  = stylesheet_link_tag "mintone/select2.min.css"
- content_for :footer do
  = javascript_include_tag "mintone/select2.full.min.js"
  javascript:
    $(document).ready(function() {
      // [ Single Select ]
      $(".select2").select2();
    })
- content_for :breadcrumb do
  li.breadcrumb-item
    a href="#{dashboard_url(@trace.id)}" 
      = @trace.name
  li.breadcrumb-item
    = I18n.t :finish, scope:'helpers.dashboards'
    / a href="#{account_dashboards_path(@account.id)}" 
    /   = @account.name

= render "filter"

#printTable.container
  div
    .card
      .row.invoice-contact
        .col-md-8
          .invoice-box.row
            .col-sm-12
              table.table.table-responsive.invoice-table.table-borderless.p-l-20
                tbody
                  tr
                    td
                      a.b-brand[href="index.html"]
                        img.img-fluid[src="/logo_imentore.jpg" alt="Mintone Logo"]
      .card-body
        .row.invoive-info
          .col-md-.col-xs-12.invoice-client-info
          .col-md-12
            h6= I18n.t :title, scope:'helpers.dashboards.pages.finish', name: @trace.store.customer_owner_name, email:@trace.store.email
          .col-md-4.col-sm-6
            h6
              | Customer Information :
            table.table.table-responsive.invoice-table.invoice-order.table-borderless
              tbody
                tr
                  th
                    | Date :
                  td
                    = I18n.l @account.customer.created_at, format: :short
                tr
                  th
                    | Id :
                  td
                    |  #
                    = @account.customer.id
          .col-md-4.col-sm-6
            h6
              | Account Information :
            table.table.table-responsive.invoice-table.invoice-order.table-borderless
              tbody
                tr
                  th
                    | Date :
                  td
                    = I18n.l @account.created_at, format: :short
                tr
                  th
                    | Id :
                  td
                    |  #
                    = @account.id

    .row.text-center
      .col-sm-3.footer-menu.text-center
        = link_to @invoice.payment_link, class: 'btn btn-info btn-lg' do
          = I18n.t :PAGAR, scope:'helpers.dashboards'
      .col-sm-12.invoice-btn-group.text-center
        button.btn.waves-effect.waves-light.btn-primary.btn-print-invoice.m-b-10[type="button"]
          | Print
        '
        button.btn.waves-effect.waves-light.btn-secondary.m-b-10[type="button"]
          | Cancel



/ .row
/   .col-xl-4.col-lg-12.task-detail-right
/     .card.bg-c-blue
/       .card-body
/         .counter.text-center
/           h5#timer.text-white.m-0
/             b
/               | 9
/             | days : 
/             b
/               | 23
/             | h : 
/             b
/               | 59
/             | m : 
/             b
/               | 31
/             | s 
/     .card
/       .card-header
/         h5
/           | Task Details
/       .card-body.task-details
/         table.table
/           tbody
/             tr
/               td
/                 i.fas.fa-adjust.m-r-5
/                 |  Project:
/               td.text-right
/                 span.float-right
/                   a.text-secondary[href="#!"]
/                     |  Singular app
/             tr
/               td
/                 i.far.fa-calendar-alt.m-r-5
/                 |  Updated:
/               td.text-right
/                 | 12 May, 2015
/             tr
/               td
/                 i.far.fa-credit-card.m-r-5
/                 |  Created:
/               td.text-right
/                 | 25 Feb, 2015
/             tr
/               td
/                 i.fas.fa-chart-line.m-r-5
/                 |  Priority:
/               td.text-right
/                 .btn-group
/                   a.text-secondary[href="#!"]
/                     i.fas.fa-upload.m-r-5
/                     |  Highest
/             tr
/               td
/                 i.fas.fa-sync-alt.m-r-5
/                 |  Revisions:
/               td.text-right
/                 | 29
/             tr
/               td
/                 i.fas.fa-user-plus.m-r-5
/                 |  Added by:
/               td.text-right
/                 a.text-secondary[href="#!"]
/                   | Winnie
/             tr
/               td
/                 i.fas.fa-thermometer-half.m-r-5
/                 |  Status:
/               td.text-right
/                 | Published
/         div
/           span
/             a.text-muted.f-16.m-r-10[href="#!"]
/               i.fas.fa-random
/           span.m-r-10
/             a.text-muted.f-16[href="#!"]
/               i.fas.fa-ellipsis-v
/           .btn-group.d-inline-block
/             button.btn.drp-icon.btn-primary.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
/               i.feather.icon-thumbs-up
/             .dropdown-menu
/               a.dropdown-item[href="#!"]
/                 | Check in
/               a.dropdown-item[href="#!"]
/                 | Attach screenshot
/               a.dropdown-item[href="#!"]
/                 | Reassign
/               .dropdown-divider
/               a.dropdown-item[href="#!"]
/                 | Edit task
/               a.dropdown-item[href="#!"]
/                 | Remove
/     .card
/       .card-header
/         h5
/           | Task settings
/       .card-body.task-setting
/         .form-group
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-1[type="checkbox" checked=""]
/                   label.cr[for="switch-1"]
/                 label
/                   | Publish after save
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-2[type="checkbox" checked=""]
/                   label.cr[for="switch-2"]
/                 label
/                   | Allow comments
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-3[type="checkbox" checked=""]
/                   label.cr[for="switch-3"]
/                 label
/                   | Allow users to edit the task
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-4[type="checkbox"]
/                   label.cr[for="switch-4"]
/                 label
/                   | Use task timer
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-5[type="checkbox"]
/                   label.cr[for="switch-5"]
/                 label
/                   | Auto saving
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-6[type="checkbox"]
/                   label.cr[for="switch-6"]
/                 label
/                   | Auto saving
/           .row
/             .col-sm-12
/               .form-group.mb-0
/                 .switch.switch-primary.d-inline.m-r-10
/                   input#switch-7[type="checkbox"]
/                   label.cr[for="switch-7"]
/                 label
/                   | Allow attachments
/           .row.text-center.mt-2
/             .col-sm-12
/               button.btn.waves-effect.waves-light.btn-secondary[type="button"]
/                 | Reset 
/               button.btn.waves-effect.waves-light.btn-primary[type="button"]
/                 | Save
/     .card
/       .card-header
/         h5
/           | Revisions
/       .card-body
/         .taskboard-right-revision.user-box
/           .media
/             .media-left.mr-3
/               a.btn.waves-effect.waves-light.btn-outline-primary.btn-icon[href="#!" role="button"]
/                 i.fas.fa-user-secret
/             .media-body
/               .chat-header.f-w-400.mb-1
/                 | Drop the IE specific hacks for temporal inputs
/               p.chat-header.text-muted
/                 | 4 minutes ago
/           .media
/             .media-left.mr-3
/               a.btn.waves-effect.waves-light.btn-outline-danger.btn-icon[href="#!" role="button"]
/                 i.fas.fa-anchor
/             .media-body
/               .chat-header.f-w-400.mb-1
/                 | Add full font overrides for popovers and tooltips
/               p.chat-header.text-muted
/                 | 36 minutes ago
/           .media
/             .media-left.mr-3
/               a.btn.waves-effect.waves-light.btn-outline-warning.btn-icon[href="#!" role="button"]
/                 i.fas.fa-desktop
/             .media-body
/               .chat-header.f-w-400.mb-1
/                 | created a new Design branch
/               p.chat-header.text-muted
/                 | 2 month ago
/           .media
/             .media-left.mr-3
/               a.btn.waves-effect.waves-light.btn-outline-success.btn-icon[href="#!" role="button"]
/                 i.fas.fa-briefcase
/             .media-body
/               .chat-header
/                 | merged Master and Dev branches
/               p.chat-header.text-muted
/                 | 6 month ago
/     .card
/       .card-header
/         h5
/           | Attached Files
/       .card-body.task-attachment
/         ul.media-list.p-0
/           li.media.d-flex.m-b-15
/             .m-r-20.file-attach
/               i.far.fa-file-word.f-28.text-muted
/             .media-body
/               a.m-b-5.d-block.text-secondary[href="#!"]
/                 | Overdrew_scowled.doc
/               .text-muted
/                 small
/                   | Size: 1.2Mb
/                 small
/                   |  Added by 
/                   a.text-secondary[href="#!"]
/                     | Winnie
/             .float-right.text-muted
/               i.fas.fa-download.f-18
/           li.media.d-flex.m-b-15
/             .m-r-20.file-attach
/               i.far.fa-file-powerpoint.f-28.text-muted
/             .media-body
/               a.m-b-5.d-block.text-secondary[href="#!"]
/                 | And_less_maternally.pdf
/               .text-muted
/                 small
/                   | Size: 0.11Mb
/                 small
/                   |  Added by 
/                   a.text-secondary[href="#!"]
/                     | Eugene
/             .float-right.text-muted
/               i.fas.fa-download.f-18
/           li.media.d-flex.m-b-15
/             .m-r-20.file-attach
/               i.far.fa-file-pdf.f-28.text-muted
/             .media-body
/               a.m-b-5.d-block.text-secondary[href="#!"]
/                 | The_less_overslept.pdf
/               .text-muted
/                 small
/                   | Size:5.9Mb
/                 small
/                   |  Added by 
/                   a.text-secondary[href="#!"]
/                     | Natalie
/             .float-right.text-muted
/               i.fas.fa-download.f-18
/           li.media.d-flex.m-b-15
/             .m-r-20.file-attach
/               i.far.fa-file-excel.f-28.text-muted
/             .media-body
/               a.m-b-5.d-block.text-secondary[href="#!"]
/                 | Well_equitably.mov
/               .text-muted
/                 small
/                   | Size:20.9Mb
/                 small
/                   |  Added by 
/                   a.text-secondary[href="#!"]
/                     | Jenny
/             .float-right.text-muted
/               i.fas.fa-download.f-18
/     .card
/       .card-header
/         h5
/           | Assigned Users
/       .card-body.user-box.assign-user
/         .media
/           .media-left.media-middle.mr-3
/             a[href="#!"]
/               / img.img-fluid.img-radius[src="assets/images/user/avatar-1.jpg" alt="chat-user"]
/           .media-body
/             h6
/               | Sortino media
/             p
/               | Software Engineer
/           div
/             a.text-muted[href="#!"]
/               i.icon-options-vertical
/         .media
/           .media-left.media-middle.mr-3
/             a[href="#!"]
/               / img.img-fluid.img-radius[src="assets/images/user/avatar-2.jpg" alt="chat-user"]
/           .media-body
/             h6
/               | Larry heading
/             p
/               | Web Designer
/           div
/             a.text-muted[href="#!"]
/               i.icon-options-vertical
/         .media
/           .media-left.media-middle.mr-3
/             a[href="#!"]
/               / img.img-fluid.img-radius[src="assets/images/user/avatar-3.jpg" alt="chat-user"]
/           .media-body
/             h6
/               | Mark
/             p
/               | Chief Financial Officer (CFO)
/           div
/             a.text-muted[href="#!"]
/               i.icon-options-vertical
/         .media
/           .media-left.media-middle.mr-3
/             a[href="#!"]
/               / img.img-fluid.img-radius[src="assets/images/user/avatar-1.jpg" alt="chat-user"]
/           .media-body
/             h6
/               | John Doe
/             p
/               | Senior Marketing Designer
/           div
/             a.text-muted[href="#!"]
/               i.icon-options-vertical
