/ - content_for :breadcrumb do
/   li.breadcrumb-item
/     a href="#{dashboard_path(@trace.store.url, @trace.name, params: request.query_parameters)}" 
/       = @trace.name

= render "filter"

- if params[:kind].blank?
  = render "mfe_all"
- elsif params[:kind] == "month"
  = render "mfe_month"
- elsif params[:kind] == "day"
  = render "mfe_day"