/ = render "layouts/saasley/navbar" 
/ section.position-relative
/   .container.py-9.py-lg-11
/     .row.align-items-center
/       .col-md-12
/         iframe src="https://imentore.freshdesk.com/support/home" title=("W3Schools Free Online Web Tutorials") onload="resizeIframe(this)" 

/ javascript:
/   function resizeIframe(obj) {
/     obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
/   }

