meta[charset="utf-8"]
title
  = content_for?(:title) ? yield(:title) : "Copy MetaTrader"
meta[charset="utf-8"]
meta[http-equiv="X-UA-Compatible" content="IE=edge"]
meta[name="description" content="Mannagment your robots, signals, manual operations in automatic way." ]
meta[name="keywords" content="Copy MetaTrader Bolsa B3 Robos MQL5 MQL4 Replication Master Slave Forex Stocks Futures "]
meta[name="author" content="Imentore"]
meta[property="og:title" content="Dashboard Imentore Copy"]
meta[property="og:url" content="https://www.imentore.com.br/dashboards"]
meta[property="og:description" content="Gerencie os seus de robos, sinais, operações manuais de forma automática."]
meta[property="og:type" content="website"]
meta[property="og:image" content="http://www.imentore.com.br/dash_thumbnail.png"]
meta[charset="UTF-8"]
meta[content="IE=edge" http-equiv="X-UA-Compatible"]
meta[content="width=device-width, initial-scale=1.0" name="viewport"]
