doctype html
html[lang="#{current_store.try(:language) || "pt-br"}"]
  head
    = render 'layouts/meta'
    = stylesheet_link_tag  'modernize', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "modernize"
    = content_for :header
    script[async src="https://www.googletagmanager.com/gtag/js?id=G-7S7H2CT4GH"]
    script
      | window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-7S7H2CT4GH');gtag('config', 'AW-1036376326'); 
  body
    #main-wrapper.page-wrapper[data-layout="vertical" data-sidebartype="full" data-navbarbg="skin6" data-sidebar-position="fixed" data-header-position="fixed"]
      <!-- Sidebar Start -->
      / = render "layouts/modernize/sidebar"
      .body-wrapper
        / = render "layouts/modernize/header"
        .container-fluid.pt-3
          .card
            .card-body
              .row
                .col-lg-10.text-left
                  ul.breadcrumb
                    - if user_signed_in? and not current_user.try(:userable).try(:user?)
                      li.breadcrumb-item
                        a href="/admin" 
                          i.feather.icon-home
                          '
                          = I18n.t :admin, scope:'helpers.dashboards'
                    - else
                      li.breadcrumb-item
                        a href="/" 
                          i.feather.icon-home
                          '
                          = I18n.t :site, scope:'helpers.dashboards'
                    - if current_store
                      li.breadcrumb-item
                        = link_to dashboards_path(params: request.query_parameters) do
                          = I18n.t :dashboards, scope:'helpers.dashboards'
                        / a href="/dashboards" 
                    = content_for :breadcrumb
                  /! [ breadcrumb ] started
                .col-lg-2.text-right
                  - unless action_name == "contract" or action_name == "finish_contract"
                      button#filter.btn.btn-light.m-r-5[type="button"]
                        i.feather.icon-plus
                        = I18n.t :filters, scope:'helpers.dashboards'

          <!-- Yield Start -->
          = yield
    .footer
      = content_for :footer
      javascript:
        $(document).ready(function(){
          $(function() {
            if($('input[name="datefilter"]').length){

              var start = moment($('input[name="datefilter"]').val().split(" - ")[0], "DD/MM/YYYY");
              var end =   moment($('input[name="datefilter"]').val().split(" - ")[1], "DD/MM/YYYY");

              function cb(start, end) {
                  $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
              }

              $('#reportrange').daterangepicker({
                  startDate: start,
                  endDate: end,
                  autoUpdateInput: false,
                  locale: {
                      format: 'DD/MM/YYYY',
                      cancelLabel: 'Clear'
                  },
                  ranges: {
                     'Today':         [moment(), moment()],
                     'This Week':     [moment().startOf('week') , moment()],
                     'This Month':    [moment().startOf('month'), moment()],
                     'Three Months':  [moment().subtract(3, 'month').startOf('month'), , moment()],
                     'This Year':     [moment().startOf('year') , moment()],
                     'Two Years':     [moment().subtract(1, 'year').startOf('year'), , moment()],
                  }
              }, cb);

              $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                $('input[name="datefilter"]').val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));

              });

              $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
                $('input[name="datefilter"]').val('');
                $('#reportrange span').html('');
              });

              cb(start, end);
            }
          });

          $(".btn#filter").click(function(){
            console.log("teste");
            // $.session.set("filterCollapse",true);
            if($('.row.collapse').hasClass('show')){
              $.session.set("filterCollapse",false);
            } else{
             $.session.set("filterCollapse",true);
            }
            $(".collapse").collapse('toggle');
          });
        
        });
          (function($) {
          "use strict";

          if(($.session.get("filterCollapse")) == 'true'){
            $(".collapse").collapse('show');
          }

        })(jQuery);