<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Checkout Sample</title>
    <meta name="description" content="A demo of Stripe Payment Intents" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'stripe', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- <script src="./script.js" defer></script> -->
  </head>

  <body>
    <div class="togethere-background"></div>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <%= yield %>
      </div>
    </div>
    <div id="error-message" class="error-message"></div>
  </body>
</html>
